.CarFilter {
    display: grid;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.carFilterItems {
    display: grid;
    text-align: center;
}

.AddCar_container{
    display: flex;
    justify-content: center;
}